/*--
	Color
--*/

.color-bg,
.nav-holder nav li a:before,
.hero-slider_control:before,
.half-hero-wrap h1:before,
.nav-button span,
.header-contacts li:before,
.lang-links:before,
.loader span:after,
.hs_init .swiper-scrollbar-drag,
.list-folio_nav:before,
.list-folio_nav:after,
.fc_button:hover,
.footer_text:before,
.share-icon:after,
.share-button:before,
.share-button:after,
.accordion a.toggle span:before,
.accordion a.toggle span:after,
.grid-det_link:before,
.scroller,
.hero-start-link:after,
.hero-section .section-title h2:before,
.hero-bg:before,
.team-social:before,
.inline-facts-wrap h6:before,
.piechart-holder h4:before,
.split-sceen-content_title:before,
.ourservicepara:before,
.order-wrap_inner h3:before,
.progress-bar,
.scroll-link:before,
.inline-facts-wrap h6:before,
.tc-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.ss-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.fixed-column-wrap_title h2:before,
.pagination a.current-page,
.serv-text:before,
.order-wrap h4:before,
.hero-title .section-title h2:before,
.nav-button-wrap:before,
.folio-counter div.all-album:before,
.inline-filter-panel .gallery-filters a.gallery-filter-active:after,
.order-wrap a:hover,
.round-counter div.all-album:before,
.swiper-counter div#total:before,
.ajaxPageSwitchBacklink:before,
.error-wrap form .search-submit,
.fixed-filter-panel.fw-panel:after,
.share-button span:before,
.custom-skillbar {
    background: #f0b209;
}

.sliding-menu a.act-link,
.lang-links a:hover,
.gallery-filters a.gallery-filter-active,
.fw_cb,
.content-nav li a.ln i,
.content-nav li a.rn i,
.box-media-zoom,
.footer-header span,
.footer-contacts li a:hover,
.subcribe-form .subscribe-button i,
.pr-list li a,
.pr-tags ul li a,
.share-icon:hover,
.close-share-btn i,
.tabs-menu li.selectedLava a,
.video-box-btn,
.pr-view i,
.fixed-column-top,
.to-top-btn:hover,
.subcribe-form .subscribe-button:hover,
.flat-project_title_link:hover,
.grid-det_link i,
.grid-det_category a,
.team-social li a,
.text-carousel .swiper-slide-active .text-carousel-item:before,
.text-carousel .swiper-slide-active .text-carousel-item:after,
.column-wrap-media_btn:hover i,
.leaflet-container a.leaflet-popup-close-button,
.leaflet-touch .leaflet-bar a,
.cont-det-wrap li a,
.parallax-header span,
.parallax-header a:hover,
.post-opt i,
.serv-price-wrap span,
.fet_pr-carousel-box-media-zoom,
.section-title_category a:hover,
.hero-start-link a:hover i,
.ms_title-start i,
.hero-title .section-title h2 span,
.section-title_category span,
#submit_btn:hover,
.show-info:hover span,
.half-hero-wrap_link i,
.half-hero-wrap h1 span,
.carousel-title-wrap h2 a i,
.error-wrap .err-btn i,
.pr-list.pr-list-color li {
    color: #f0b209;
}

.horizonral-subtitle span,
.tabs-menu li.backLava {
    border-color: #f0b209;
}

nav ul li a:hover,
.contact-head-info>a,
.banner-content>h2 span,
.lnk-default2,
.lnk-default2:hover,
.p-num,
.rating li,
.blog-title a:hover,
.contact-head-info>a:hover,
nav ul li a.active,
.award-col>h2,
.wid-post-info>h3:hover,
.wid-post-info>h3:hover a,
.arch-list li a:hover,
.tags_list li a:hover,
.pagination-mint .page-link:hover,
input#amount,
.view-details:hover,
.shop-info>h3:hover a,
.add-cart,
.cart-btn-circle,
.catg-controls li a:hover,
.social-links.without-bg li a,
.option-set li a.selected {
    color: #f0b209;
}

.responsive-mobile-menu,
.lnk-default,
.banner-slide:before,
.play-btn,
.sub-title:before,
.team-head,
.slick-prev:hover,
.slick-next:hover,
.slick-dots li.slick-active button,
.category,
.cart-number,
.banner-slider .slick-prev:hover,
.banner-slider .slick-next:hover,
nav ul ul,
.pger-imgs:before,
.dott,
.paginated li a:hover,
.widget-search form button,
.tags-list li a:hover,
.ui-slider-horizontal .ui-slider-range,
.add-to-cart:hover,
.status,
input:checked+.slider,
.btn-default,
.cart-btn-circle:hover,
.contact_info,
.search-close-btn:hover,
.thecube .cube:before,
.failed,
.text-info {
    background-color: #f0b209;
}

.proz-mint:after,
.dott:before,
.ui-slider-horizontal .ui-slider-handle,
.form-control:focus {
    border-color: #f0b209;
}

.footersection_main_one {
    background-color: #2D2D32;
}